#widget-style-1 .star-icon {
  color: #F67D0F !important;
}
#widget-style-1 .star-icon.star-empty {
  color: #FFFFFF !important;
}

#widget-style-1[data-color="white"] .star-icon.star-empty {
  color: #C1C1C0 !important;
}


#widget-style-1 .stars-container .star-icon {
  font-size: 28px;
}


@media (max-width: 820px) {
  #clx-rating .widget-body > a {
    display: block !important;
  }
  #clx-rating .widget-body > a > div:nth-child(3) {
    float: none !important;
    width: 100% !important;
    display: block!important;
    clear: both !important;
    padding-top: 20px;
  }

  #clx-rating .widget-body > a > div:nth-child(1),
  #clx-rating .widget-body > a > div:nth-child(2) {
    width: 50% !important;
  }

  .widget-img.widget-coll,
  .review-slide {
    max-height: 180px !important;
  }

}

@media (max-width: 550px) {
  .review-info .left-col {
    float: none !important;
  }
  .review-info .right-col {
    text-align: left !important; 
  }
}

#widget-style-1[data-color="white"] a {
  color: #767676 !important;
}

#widget-style-1[data-color="white"] .widget-stars-container {
  color: #183153 !important;
}

#widget-style-1[data-color="white"] .dark-text {
  color: #183153 !important; 
}

#widget-style-1[data-color="white"] .slick-buttons i {
  color: #183153 !important;
}

#widget-style-1[data-color="blue"] .dark-text,
#widget-style-1[data-color="green"] .dark-text {
  color: #183153 !important; 
}

#widget-style-1[data-color="dark-blue"] .right-col.dark-text {
  color: #F67D0F !important; 
}

#widget-style-1[data-color="blue"] .slick-buttons i,
#widget-style-1[data-color="green"] .slick-buttons i {
  color: #183153 !important;
}


#widget-style-1[data-color="blue"] a p,
#widget-style-1[data-color="dark-blue"] a p,
#widget-style-1[data-color="green"] a p {
  color: #fff !important;
}

#widget-style-1[data-color="blue"] a {
  background-color: #388CCC !important;
  color: #fff !important;
}

#widget-style-1[data-color="dark-blue"] a {
  background-color: #183153 !important;
  color: #fff !important;
}

#widget-style-1[data-color="green"] a {
  background-color: #3FA879 !important;
  color: #fff !important;
}

